* {
    padding: 0; margin: 0; 
}
			
::-webkit-scrollbar {
    width: 0;
}
    	
#world { 
    background: #aac;
    display: block; 
    margin: 0 auto; 
}



#healthBar {
	position: absolute; 
	
    top: 30px;
    bottom: 0px;
	
	border: none;
    background: crimson;
	
	color: lightblue;
}

#healthBar::-webkit-progress-value {
  background: lightblue;
}

#healthBar::-moz-progress-bar {
  background: lightcolor;
}

#healthBar::-webkit-progress-value {
  background: red;
}

#healthBar::-webkit-progress-bar {
  background: blue;
}

#healthTitle{
	position: absolute; 
	
    bottom: 0; right: 0;
}

#pauseButton{
	position: absolute; 
	
    top: 0;

    color: #69696985;
    background: #80808070;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
} 
#pauseButton:hover { background: #A9A9A965; color: #80808070;}

#inventory{
	color: #69696985;
	background: #80808070;
	display: block;
	position: absolute;
	border: 2px solid;
    border-radius: 1px;
}
