/*Goole Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
	margin: 0; padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #faf6ff;
}

body, html {
  overflow: hidden
}

#world { 
    background-color: #aac;
    display: block; 
	border: dashed #B22222;
	
	/*margin: 0 auto;*/
}

#inventory{
	background: #0000FF40;
	border-color: ##0000CD;
	border: 2px solid;
	
	width: 280px;
	height: 100px;
	
	/*position: absolute;*/
	vertical-align: bottom;
	/*top: 0;
	left: 0;*/
}

#version{
	position: absolute;
	top: 0;
	left: 0;
}

#coordinates{
	position: absolute;
	top: 25px;
	left: 0px;
}

#biome{
	position: absolute;
	top: 50px;
	left: 0px;
}