/*Goole Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.bigMenu-wrapper{
	height: 100%;
	width: 330px;
	position: relative;
}

.bigMenu-wrapper #bigMenu{
	position: fixed;
	height: 100%;
	width: 270px;
	background: #11101d;
}

.bigMenu-wrapper .title{
	font-size: 42px;
	color: #fff;
	font-weight: 600;
	text-align: center;
}

.bigMenu-wrapper .list-items{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
}

.bigMenu-wrapper a{
    font-size: 28px;
	color: #fff;
}
	